header{background-color: black;}
header{color: aquamarine;}
header{text-align: center;}
main{background-color: grey;}

body{background-image: url(record.png) ; background-repeat:repeat;}
main{padding: 1em; margin: 0 ;}
